<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968627899858-e16o34rkqd2nm8gs8i0rq04utb96ba8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968627899858-e16o34rkqd2nm8gs8i0rq04utb96ba8e</string>
	<key>API_KEY</key>
	<string>AIzaSyD62toKECpK8_rEKnl43OmCnWw5iLcNwVo</string>
	<key>GCM_SENDER_ID</key>
	<string>968627899858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.materialmanagementapp.chary</string>
	<key>PROJECT_ID</key>
	<string>material-management-app-40794</string>
	<key>STORAGE_BUCKET</key>
	<string>material-management-app-40794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968627899858:ios:22b6016e31f15c905d0c0b</string>
</dict>
</plist>